<nav class='navbar navbar-expand navbar-light bg-light justify-content-center' id="navbar">
  <ul class='nav nav-pills row'>
    <div class="col-md-4 align-self-center">
      <li><button class='btn btn-outline-info btn-outline-secondary btn-lg my-2 my-sm-0 px-5' [routerLink]="['/welcome']"
          id="homebutton"><i class="material-icons" id="homeicon">
            home
          </i>Home</button></li>
    </div>
    <div class="col-md-4">
      <a class="navbar-brand" routerLink=""><img src="http://i65.tinypic.com/2w1sg85.png"></a>
    </div>
    <div class="col-md-4 align-self-center">
      <li><button class='btn btn-outline-info btn-outline-secondary btn-lg my-2 my-sm-0' [routerLink]="['/products']"
          id="prodbutton"><i class="material-icons" id="prodicon">
            blur_on
          </i>Product
          List</button></li>
    </div>
  </ul>
</nav>
<div class='container' id="container">
  <router-outlet></router-outlet>
</div>