  <div class="row justify-content-center" id="rows">
    <div class="col-md-12 flex-item">
      <img class="img img-responsive" style="margin-bottom:5px; margin-top:20px; border-radius:50px; padding: 20px 20px 20px 20px;" [src]='product.imageUrl'
        [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
      <legend><strong>{{product.productName}}</strong></legend>
      <div class="col-md-12">
        <p><strong>Description: </strong> {{product.description}}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p id="ratings"><strong>Rating: </strong></p>
          <pm-star [rating]='product.starRating'>
          </pm-star>
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
          <p id="price"><strong>Price: </strong>
            <br>{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>
      </div>
      <hr>
      <button class="btn btn-outline-info" (click)="onBack()" style="width: 80px">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
  </div>